/*
MarketPress Style: United
*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu) !important;
body {
  font-family: 'Ubuntu', Tahoma, sans-serif !important;
  color: #333333 !important;
  background-color: #ffffff !important;
}
a {
  color: #dd4814 !important;
}
a:hover {
  color: #97310e !important;
}
p small {
  color: #999999 !important;
}
.page-header {
  border-bottom: 1px solid #f5f5f5 !important;
}
input,
button,
select,
textarea {
  font-family: 'Ubuntu', Tahoma, sans-serif !important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #555555 !important;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0 !important;
  outline: thin dotted \9 !important;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0 !important;
  *margin-top: 0 !important;
  /* IE7 */

  line-height: normal !important;
  cursor: pointer !important;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto !important;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed !important;
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent !important;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #eca918 !important;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #eca918 !important;
  border-color: #eca918 !important;
}
.control-group.warning .checkbox:focus,
.control-group.warning .radio:focus,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #c18910 !important;
  -webkit-box-shadow: 0 0 6px #f4cc76 !important;
  -moz-box-shadow: 0 0 6px #f4cc76 !important;
  box-shadow: 0 0 6px #f4cc76 !important;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #eca918 !important;
  background-color: #fcefd4 !important;
  border-color: #eca918 !important;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #df382c !important;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #df382c !important;
  border-color: #df382c !important;
}
.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #bc271c !important;
  -webkit-box-shadow: 0 0 6px #ec8c85 !important;
  -moz-box-shadow: 0 0 6px #ec8c85 !important;
  box-shadow: 0 0 6px #ec8c85 !important;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #df382c !important;
  background-color: #fadfdd !important;
  border-color: #df382c !important;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #38b44a !important;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #38b44a !important;
  border-color: #38b44a !important;
}
.control-group.success .checkbox:focus,
.control-group.success .radio:focus,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #2c8d3a !important;
  -webkit-box-shadow: 0 0 6px #7cd689 !important;
  -moz-box-shadow: 0 0 6px #7cd689 !important;
  box-shadow: 0 0 6px #7cd689 !important;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #38b44a !important;
  background-color: #caeecf !important;
  border-color: #38b44a !important;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48 !important;
  border-color: #ee5f5b !important;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}
.form-actions {
  border-top: 1px solid #e5e5e5 !important;
}
:-moz-placeholder {
  color: #999999 !important;
}
:-ms-input-placeholder {
  color: #999999 !important;
}
::-webkit-input-placeholder {
  color: #999999 !important;
}
.help-block,
.help-inline {
  color: #555555 !important;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc !important;
}
.input-prepend .active,
.input-append .active {
  background-color: #a3e2ac !important;
  border-color: #38b44a !important;
}
.input-append .uneditable-input {
  border-right-color: #ccc !important;
  border-left-color: #eee !important;
}
.table th,
.table td {
  border-top: 1px solid #dddddd !important;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd !important;
}
.table-bordered {
  border: 1px solid #dddddd !important;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd !important;
}
.caret {
  border-top: 4px solid #000000 !important;
  opacity: 0.3 !important;
  filter: alpha(opacity=30) !important;
}
.dropdown:hover .caret,
.open .caret {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dropdown-menu {
  background-color: #ffffff !important;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  *border-right-width: 2px !important;
  *border-bottom-width: 2px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
}
.dropdown-menu .divider {
  *width: 100% !important;
  height: 1px !important;
  margin: 8px 1px !important;
  *margin: -5px 0 5px !important;
  overflow: hidden !important;
  background-color: #e5e5e5 !important;
  border-bottom: 1px solid #ffffff !important;
}
.dropdown-menu a {
  padding: 3px 15px !important;
  font-weight: normal !important;
  color: #dd4814 !important;
  white-space: nowrap !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff !important;
  background-color: #dd4814 !important;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 !important;
  border-bottom: 4px solid #000000 !important;
  content: "\2191" !important;
}
.close {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 18px !important;
  color: #000000 !important;
  text-shadow: 0 1px 0 #ffffff !important;
  opacity: 0.2 !important;
  filter: alpha(opacity=20) !important;
}
.close:hover {
  color: #000000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  opacity: 0.4 !important;
  filter: alpha(opacity=40) !important;
}
.btn {
  padding: 4px 10px 4px !important;
  font-size: 13px !important;
  line-height: 18px !important;
  *line-height: 20px !important;
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
  cursor: pointer !important;
  background-color: #f5f5f5 !important;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: linear-gradient(top, #ffffff, #e6e6e6) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0) !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #e6e6e6 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
  border: 1px solid #cccccc !important;
  *border: 0 !important;
  border-bottom-color: #b3b3b3 !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05) !important;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05) !important;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6 !important;
  *background-color: #d9d9d9 !important;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9 !important;
}
.btn:hover {
  color: #333333 !important;
  background-color: #e6e6e6 !important;
  *background-color: #d9d9d9 !important;
  background-position: 0 -15px !important;
}
.btn:focus {
  outline: thin dotted #333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6 !important;
  background-color: #d9d9d9 \9 !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05) !important;
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05) !important;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05) !important;
}
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6 !important;
  background-image: none !important;
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-large {
  padding: 9px 14px !important;
  font-size: 15px !important;
  line-height: normal !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.btn-large [class^="icon-"] {
  margin-top: 1px !important;
}
.btn-small {
  padding: 5px 9px !important;
  font-size: 11px !important;
  line-height: 16px !important;
}
.btn-small [class^="icon-"] {
  margin-top: -1px !important;
}
.btn-mini {
  padding: 2px 6px !important;
  font-size: 11px !important;
  line-height: 14px !important;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover,
#mp_add_vars a:hover, #mp_add_vars a{
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active,
#mp_add_vars a.active{
  color: rgba(255, 255, 255, 0.75) !important;
}
.btn {
  border-color: #ccc !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
}
.btn-primary {
  background-color: #dd5c14 !important;
  background-image: -moz-linear-gradient(top, #dd4814, #dd7a14) !important;
  background-image: -ms-linear-gradient(top, #dd4814, #dd7a14) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4814), to(#dd7a14)) !important;
  background-image: -webkit-linear-gradient(top, #dd4814, #dd7a14) !important;
  background-image: -o-linear-gradient(top, #dd4814, #dd7a14) !important;
  background-image: linear-gradient(top, #dd4814, #dd7a14) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4814', endColorstr='#dd7a14', GradientType=0) !important;
  border-color: #dd7a14 #dd7a14 #97530e !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #dd7a14 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #dd7a14 !important;
  *background-color: #c66d12 !important;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #ae6010 \9 !important;
}
.btn-warning {
  background-color: #e86537 !important;
  background-image: -moz-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -ms-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814)) !important;
  background-image: -webkit-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -o-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: linear-gradient(top, #ef784e, #dd4814) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef784e', endColorstr='#dd4814', GradientType=0) !important;
  border-color: #dd4814 #dd4814 #97310e !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #dd4814 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #dd4814 !important;
  *background-color: #c64012 !important;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ae3910 \9 !important;
}
.btn-danger,
#mp_add_vars a{
  background-color: #da4f49 !important;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)) !important;
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0) !important;
  border-color: #bd362f #bd362f #802420 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #bd362f !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
#mp_add_vars a:hover, #mp_add_vars a:active,{
  background-color: #bd362f !important;
  *background-color: #a9302a !important;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9 !important;
}
.btn-success {
  background-color: #5bb75b !important;
  background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -ms-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
  background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
  background-image: linear-gradient(top, #62c462, #51a351) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0) !important;
  border-color: #51a351 #51a351 #387038 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #51a351 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351 !important;
  *background-color: #499249 !important;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9 !important;
}
.btn-info {
  background-color: #99356b !important;
  background-image: -moz-linear-gradient(top, #b03d7b, #772953) !important;
  background-image: -ms-linear-gradient(top, #b03d7b, #772953) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b03d7b), to(#772953)) !important;
  background-image: -webkit-linear-gradient(top, #b03d7b, #772953) !important;
  background-image: -o-linear-gradient(top, #b03d7b, #772953) !important;
  background-image: linear-gradient(top, #b03d7b, #772953) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b03d7b', endColorstr='#772953', GradientType=0) !important;
  border-color: #772953 #772953 #3e152b !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #772953 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #772953 !important;
  *background-color: #642246 !important;
}
.btn-info:active,
.btn-info.active {
  background-color: #511c39 \9 !important;
}
.btn-inverse {
  background-color: #414141 !important;
  background-image: -moz-linear-gradient(top, #555555, #222222) !important;
  background-image: -ms-linear-gradient(top, #555555, #222222) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222)) !important;
  background-image: -webkit-linear-gradient(top, #555555, #222222) !important;
  background-image: -o-linear-gradient(top, #555555, #222222) !important;
  background-image: linear-gradient(top, #555555, #222222) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0) !important;
  border-color: #222222 #222222 #000000 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #222222 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222 !important;
  *background-color: #151515 !important;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9 !important;
}
.alert {
  padding: 8px 35px 8px 14px !important;
  margin-bottom: 18px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
  background-color: #fcefd4 !important;
  border: 1px solid #fae1c6 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #eca918 !important;
}
.alert-success {
  background-color: #caeecf !important;
  border-color: #b7e8b6 !important;
  color: #38b44a !important;
}
.alert-danger,
.alert-error {
  background-color: #fadfdd !important;
  border-color: #f8d0d4 !important;
  color: #df382c !important;
}
.alert-info {
  background-color: #e7b8d1 !important;
  border-color: #de9ecb !important;
  color: #772953 !important;
}
.alert-block {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #dd4814 !important;
}
.nav-list .divider {
  *width: 100% !important;
  height: 1px !important;
  margin: 8px 1px !important;
  *margin: -5px 0 5px !important;
  overflow: hidden !important;
  background-color: #e5e5e5 !important;
  border-bottom: 1px solid #ffffff !important;
}
.nav-tabs {
  border-bottom: 1px solid #ddd !important;
}
.nav-tabs > li > a:hover {
  border-color: #f5f5f5 #f5f5f5 #dddddd !important;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555 !important;
  background-color: #ffffff !important;
  border: 1px solid #ddd !important;
  border-bottom-color: transparent !important;
  cursor: default !important;
}
.nav-pills > li > a {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff !important;
  background-color: #dd4814 !important;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #dd4814 !important;
  border-bottom-color: #dd4814 !important;
  margin-top: 6px !important;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #97310e !important;
  border-bottom-color: #97310e !important;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333 !important;
  border-bottom-color: #333333 !important;
}
.nav > .dropdown.active > a:hover {
  color: #000000 !important;
  cursor: pointer !important;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff !important;
  background-color: #999999 !important;
  border-color: #999999 !important;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.tabs-stacked .open > a:hover {
  border-color: #999999 !important;
}
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #f5f5f5 #dddddd #f5f5f5 #f5f5f5 !important;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd !important;
  *border-right-color: #ffffff !important;
}
.tabs-right > .nav-tabs {
  float: right !important;
  margin-left: 19px !important;
  border-left: 1px solid #ddd !important;
}
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #f5f5f5 #f5f5f5 #f5f5f5 #dddddd !important;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent !important;
  *border-left-color: #ffffff !important;
}
.navbar-inner {
  min-height: 40px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: #d44413 !important;
  background-image: -moz-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -ms-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce4213), to(#dd4814)) !important;
  background-image: -webkit-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -o-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: linear-gradient(top, #ce4213, #dd4814) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce4213', endColorstr='#dd4814', GradientType=0) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1) !important;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1) !important;
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1) !important;
}
.navbar-search .search-query {
  padding: 4px 9px !important;
  font-family: 'Ubuntu', Tahoma, sans-serif !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1 !important;
  background-color: #f39c7d !important;
  border: 1px solid #c64012 !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15) !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15) !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15) !important;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 5px 10px !important;
  color: #333333 !important;
  text-shadow: 0 1px 0 #ffffff !important;
  background-color: #ffffff !important;
  border: 0 !important;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
  outline: 0 !important;
}
.navbar .nav > li > a {
  float: none !important;
  padding: 9px 10px 11px !important;
  line-height: 19px !important;
  color: #ffffff !important;
  text-decoration: none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.navbar .nav > li > a:hover {
  background-color: transparent !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #dd4814 !important;
}
.navbar .divider-vertical {
  height: 40px !important;
  width: 1px !important;
  margin: 0 9px !important;
  overflow: hidden !important;
  background-color: #dd4814 !important;
  border-right: 1px solid #ce4213 !important;
}
.navbar .btn-navbar {
  float: right !important;
  padding: 7px 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: #d44413 !important;
  background-image: -moz-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -ms-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce4213), to(#dd4814)) !important;
  background-image: -webkit-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: -o-linear-gradient(top, #ce4213, #dd4814) !important;
  background-image: linear-gradient(top, #ce4213, #dd4814) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce4213', endColorstr='#dd4814', GradientType=0) !important;
  border-color: #dd4814 #dd4814 #97310e !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #dd4814 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075) !important;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075) !important;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #dd4814 !important;
  *background-color: #c64012 !important;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #ae3910 \9 !important;
}
.navbar .btn-navbar .icon-bar {
  display: block !important;
  width: 18px !important;
  height: 2px !important;
  background-color: #f5f5f5 !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
}
.breadcrumb {
  padding: 7px 14px !important;
  margin: 0 0 18px !important;
  list-style: none !important;
  background-color: #fbfbfb !important;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5) !important;
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5) !important;
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5) !important;
  background-image: linear-gradient(top, #ffffff, #f5f5f5) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0) !important;
  border: 1px solid #ddd !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 0 #ffffff !important;
  -moz-box-shadow: inset 0 1px 0 #ffffff !important;
  box-shadow: inset 0 1px 0 #ffffff !important;
}
.breadcrumb li {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
  text-shadow: 0 1px 0 #ffffff !important;
}
.breadcrumb .divider {
  padding: 0 5px !important;
  color: #999999 !important;
}
.breadcrumb .active a {
  color: #333333 !important;
}
.pagination {
  height: 36px !important;
  margin: 18px 0 !important;
}
.pagination ul {
  display: inline-block !important;
  *display: inline !important;
  /* IE7 inline-block hack */

  *zoom: 1 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}
.pagination li {
  display: inline !important;
}
.pagination a {
  float: left !important;
  padding: 0 14px !important;
  line-height: 34px !important;
  text-decoration: none !important;
  border: 1px solid #ddd !important;
  border-left-width: 0 !important;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5 !important;
}
.pagination .active a {
  color: #999999 !important;
  cursor: default !important;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999 !important;
  background-color: transparent !important;
  cursor: default !important;
}
.pagination li:first-child a {
  border-left-width: 1px !important;
  -webkit-border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important;
}
.pagination-centered {
  text-align: center !important;
}
.pagination-right {
  text-align: right !important;
}
.pager {
  margin-left: 0 !important;
  margin-bottom: 18px !important;
  list-style: none !important;
  text-align: center !important;
  *zoom: 1 !important;
}
.pager:before,
.pager:after {
  display: table !important;
  content: "" !important;
}
.pager:after {
  clear: both !important;
}
.pager li {
  display: inline !important;
}
.pager a {
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}
.pager a:hover {
  text-decoration: none !important;
  background-color: #f5f5f5 !important;
}
.pager .next a {
  float: right !important;
}
.pager .previous a {
  float: left !important;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999 !important;
  background-color: #fff !important;
  cursor: default !important;
}
.modal-backdrop.fade {
  opacity: 0 !important;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}
.label,
.badge {
  font-size: 10.998px !important;
  font-weight: bold !important;
  line-height: 14px !important;
  color: #ffffff !important;
  vertical-align: baseline !important;
  white-space: nowrap !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #999999 !important;
}
.label {
  padding: 1px 4px 2px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}
.badge {
  padding: 1px 9px 2px !important;
  -webkit-border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  border-radius: 9px !important;
}
a.label:hover,
a.badge:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.label-important,
.badge-important {
  background-color: #df382c !important;
}
.label-important[href],
.badge-important[href] {
  background-color: #bc271c !important;
}
.label-warning,
.badge-warning {
  background-color: #dd4814 !important;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #ae3910 !important;
}
.label-success,
.badge-success {
  background-color: #38b44a !important;
}
.label-success[href],
.badge-success[href] {
  background-color: #2c8d3a !important;
}
.label-info,
.badge-info {
  background-color: #772953 !important;
}
.label-info[href],
.badge-info[href] {
  background-color: #511c39 !important;
}
.label-inverse,
.badge-inverse {
  background-color: #333333 !important;
}
.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a !important;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0 !important;
  }
  to {
    background-position: 0 0 !important;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0 !important;
  }
  to {
    background-position: 0 0 !important;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0 !important;
  }
  to {
    background-position: 0 0 !important;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0 !important;
  }
  to {
    background-position: 40px 0 !important;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0 !important;
  }
  to {
    background-position: 0 0 !important;
  }
}
.progress {
  overflow: hidden !important;
  height: 18px !important;
  margin-bottom: 18px !important;
  background-color: #f7f7f7 !important;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9) !important;
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9)) !important;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9) !important;
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9) !important;
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0) !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.progress .bar {
  width: 0% !important;
  height: 18px !important;
  color: #ffffff !important;
  font-size: 12px !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #0e90d2 !important;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: -ms-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be)) !important;
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: -o-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: linear-gradient(top, #149bdf, #0480be) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0) !important;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-transition: width 0.6s ease !important;
  -moz-transition: width 0.6s ease !important;
  -ms-transition: width 0.6s ease !important;
  -o-transition: width 0.6s ease !important;
  transition: width 0.6s ease !important;
}
.progress-striped .bar {
  background-color: #149bdf !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  -webkit-background-size: 40px 40px !important;
  -moz-background-size: 40px 40px !important;
  -o-background-size: 40px 40px !important;
  background-size: 40px 40px !important;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite !important;
  -moz-animation: progress-bar-stripes 2s linear infinite !important;
  -ms-animation: progress-bar-stripes 2s linear infinite !important;
  -o-animation: progress-bar-stripes 2s linear infinite !important;
  animation: progress-bar-stripes 2s linear infinite !important;
}
.progress-danger .bar {
  background-color: #dd514c !important;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35) !important;
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35)) !important;
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35) !important;
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35) !important;
  background-image: linear-gradient(top, #ee5f5b, #c43c35) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0) !important;
}
.progress-danger.progress-striped .bar {
  background-color: #ee5f5b !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
}
.progress-success .bar {
  background-color: #5eb95e !important;
  background-image: -moz-linear-gradient(top, #62c462, #57a957) !important;
  background-image: -ms-linear-gradient(top, #62c462, #57a957) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957)) !important;
  background-image: -webkit-linear-gradient(top, #62c462, #57a957) !important;
  background-image: -o-linear-gradient(top, #62c462, #57a957) !important;
  background-image: linear-gradient(top, #62c462, #57a957) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0) !important;
}
.progress-success.progress-striped .bar {
  background-color: #62c462 !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
}
.progress-info .bar {
  background-color: #4bb1cf !important;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9) !important;
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9)) !important;
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9) !important;
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9) !important;
  background-image: linear-gradient(top, #5bc0de, #339bb9) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0) !important;
}
.progress-info.progress-striped .bar {
  background-color: #5bc0de !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
}
.progress-warning .bar {
  background-color: #e86537 !important;
  background-image: -moz-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -ms-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814)) !important;
  background-image: -webkit-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -o-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: linear-gradient(top, #ef784e, #dd4814) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef784e', endColorstr='#dd4814', GradientType=0) !important;
}
.progress-warning.progress-striped .bar {
  background-color: #ef784e !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
}
.accordion {
  margin-bottom: 18px !important;
}
.accordion-group {
  margin-bottom: 2px !important;
  border: 1px solid #e5e5e5 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.accordion-heading {
  border-bottom: 0 !important;
}
.accordion-heading .accordion-toggle {
  display: block !important;
  padding: 8px 15px !important;
}
.accordion-toggle {
  cursor: pointer !important;
}
.accordion-inner {
  padding: 9px 15px !important;
  border-top: 1px solid #e5e5e5 !important;
}
.carousel {
  position: relative !important;
  margin-bottom: 18px !important;
  line-height: 1 !important;
}
.carousel-inner {
  overflow: hidden !important;
  width: 100% !important;
  position: relative !important;
}
.carousel .item {
  position: relative !important;
  -webkit-transition: 0.6s ease-in-out left !important;
  -moz-transition: 0.6s ease-in-out left !important;
  -ms-transition: 0.6s ease-in-out left !important;
  -o-transition: 0.6s ease-in-out left !important;
  transition: 0.6s ease-in-out left !important;
}
.carousel .item > img {
  display: block !important;
  line-height: 1 !important;
}
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block !important;
}
.carousel .active {
  left: 0 !important;
}
.carousel .next,
.carousel .prev {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}
.carousel .next {
  left: 100% !important;
}
.carousel .prev {
  left: -100% !important;
}
.carousel .next.left,
.carousel .prev.right {
  left: 0 !important;
}
.carousel .active.left {
  left: -100% !important;
}
.carousel .active.right {
  left: 100% !important;
}
.carousel-control {
  position: absolute !important;
  top: 40% !important;
  left: 15px !important;
  width: 40px !important;
  height: 40px !important;
  margin-top: -20px !important;
  font-size: 60px !important;
  font-weight: 100 !important;
  line-height: 30px !important;
  color: #ffffff !important;
  text-align: center !important;
  background: #222222 !important;
  border: 3px solid #ffffff !important;
  -webkit-border-radius: 23px !important;
  -moz-border-radius: 23px !important;
  border-radius: 23px !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}
.carousel-control.right {
  left: auto !important;
  right: 15px !important;
}
.carousel-control:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  opacity: 0.9 !important;
  filter: alpha(opacity=90) !important;
}
.carousel-caption {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 10px 15px 5px !important;
  background: #333333 !important;
  background: rgba(0, 0, 0, 0.75) !important;
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff !important;
}
.hero-unit {
  padding: 60px !important;
  margin-bottom: 30px !important;
  background-color: #f5f5f5 !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}
.hero-unit h1 {
  margin-bottom: 0 !important;
  font-size: 60px !important;
  line-height: 1 !important;
  color: inherit !important;
  letter-spacing: -1px !important;
}
.hero-unit p {
  font-size: 18px !important;
  font-weight: 200 !important;
  line-height: 27px !important;
  color: inherit !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.navbar .nav > li > a {
  border-right: 1px solid #C03D14 !important;
  border-left: 1px solid #E6633A !important;
}
.navbar .nav > li > a:hover {
  background-color: #97310e !important;
}
.navbar .divider-vertical {
  border-right: 0px solid #CE4213 !important;
}
.navbar .navbar-text {
  color: #ffffff !important;
}
.navbar .navbar-search .search-query {
  border: 1px solid #97310e !important;
}
.navbar .nav-collapse.in > .nav li > a {
  color: #ffffff !important;
  border-left: 0px solid #dd4814 !important;
  border-right: 0px solid #dd4814 !important;
}
.navbar .nav-collapse.in > .nav li > a:hover {
  background-color: #97310e !important;
}
.navbar .nav-collapse.in .navbar-form,
.navbar .nav-collapse.in .navbar-search {
  border-top: 0px solid #dd4814 !important;
  border-bottom: 0px solid #dd4814 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-primary {
  background-color: #e86537 !important;
  background-image: -moz-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -ms-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814)) !important;
  background-image: -webkit-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: -o-linear-gradient(top, #ef784e, #dd4814) !important;
  background-image: linear-gradient(top, #ef784e, #dd4814) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef784e', endColorstr='#dd4814', GradientType=0) !important;
  border-color: #dd4814 #dd4814 #97310e !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #dd4814 !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #dd4814 !important;
  *background-color: #c64012 !important;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #ae3910 \9 !important;
}
.btn-warning {
  background-color: #f3c768 !important;
  background-image: -moz-linear-gradient(top, #f5d185, #efb73e) !important;
  background-image: -ms-linear-gradient(top, #f5d185, #efb73e) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5d185), to(#efb73e)) !important;
  background-image: -webkit-linear-gradient(top, #f5d185, #efb73e) !important;
  background-image: -o-linear-gradient(top, #f5d185, #efb73e) !important;
  background-image: linear-gradient(top, #f5d185, #efb73e) !important;
  background-repeat: repeat-x !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d185', endColorstr='#efb73e', GradientType=0) !important;
  border-color: #efb73e #efb73e #cf9311 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  *background-color: #efb73e !important;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #efb73e !important;
  *background-color: #edae26 !important;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #e7a413 \9 !important;
}
.hero-unit {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.product-single .product .mp_product_meta .mp_product_price,
.product-single .product .mp_product_meta .product_price,
.product-single .product .product_meta .mp_product_price,
.product-single .product .product_meta .product_price,
.product-single .product .mp_product_meta .mp_product_price span,
.product-single .product .mp_product_meta .product_price span,
.product-single .product .product_meta .mp_product_price span,
.product-single .product .product_meta .product_price span{
	font-size: 1.2em !important;
	line-height: 40px !important;
}

#product-grid #product_list .product.list .product_meta .mp_product_price .mp_old_price, 
#product-grid #product_list .product.list .product_meta .mp_product_price .mp_current_price, 
#product-grid #product_list .product.list .product_meta .mp_product_price .old_price, 
#product-grid #product_list .product.list .product_meta .mp_product_price .current_price, 
#product-grid #product_list .product.list .product_meta .product_price .mp_old_price, 
#product-grid #product_list .product.list .product_meta .product_price .mp_current_price, 
#product-grid #product_list .product.list .product_meta .product_price .old_price, 
#product-grid #product_list .product.list .product_meta .product_price .current_price,
#product-grid #product_list .product.list .product_meta .mp_product_price .mp_old_price, 
#product-grid #product_list .product.list .product_meta .mp_product_price .old_price, 
#product-grid #product_list .product.list .product_meta .product_price .mp_old_price, 
#product-grid #product_list .product.list .product_meta .product_price .old_price,
ul#product_category-tabs > .tabs > a,
ul#product_category-tabs > .tabs a:hover,
.tt_mp_fe form#post #submitdiv .submitbox #major-publishing-actions a:hover,
.tt_mp_fe form#post #submitdiv .submitbox #major-publishing-actions .submitdelete:hover,
.tt_mp_fe form#post #submitdiv .submitbox #major-publishing-actions .deletion:hover,
ul#product_category-tabs > li > a,
a.submitdelete.deletion,
.navbar-fixed-top .brand{
	color: #fff !important;
}
